<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>Account Transaction History</title>
	</h:head>
	<h:body>
		<h:form>
			<h:messages id="messages" style ="color:red"/>
			<div id="layout">
				<div class="form_title">
					<h1>
						<span class="active">Account Transaction History</span>
					</h1>
				</div>
				<table>
					<tr>
						<td><h:outputText id="currentAccount"
								value="Account number: "></h:outputText></td>
						<td><h:outputText value="#{accountTransactionMB.account.id}" />
						</td>
					</tr>
					<tr>
						<td><h:outputText id="Username" value="Username: "></h:outputText>
						</td>
						<td><h:outputText
								value="#{accountTransactionMB.account.userName}" /></td>
					</tr>
					<tr>
						<td><h:outputText id="currentBalanceLabel"
								value="Current Balance: "></h:outputText></td>
						<td><h:outputText
								value="#{accountTransactionMB.account.balance}">
								<f:convertNumber pattern="$#0.00" />
							</h:outputText></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><h:outputText id="transactionTypeLabel"
								value="Transaction Type: ">
							</h:outputText></td>
						<td><h:selectOneMenu id="transactionType"
								value="#{accountTransactionMB.transactionType}">
								<f:selectItem id="InitialId" itemLabel="Select" itemValue="" />
								<f:selectItem id="DepositId" itemLabel="Deposit"
									itemValue="Deposit" />
								<f:selectItem id="TransferId" itemLabel="Transfer"
									itemValue="Transfer" />
								<f:selectItem id="WithdrawId" itemLabel="Withdraw"
									itemValue="Withdraw" />
							</h:selectOneMenu></td>
					</tr>
					<tr>
						<td><h:outputText id="transactionValueLabel"
								value="Transaction Value"></h:outputText></td>
						<td><h:inputText id="transactionValue"
								value="#{accountTransactionMB.accountTransaction.value}">
								<f:convertNumber pattern="#0.00" currencySymbol="$" />
							</h:inputText></td>
					</tr>
					<tr>
						<td><h:outputText id="transactionReceiving"
								value="Account Receiving:"></h:outputText></td>
						<td><h:inputText id="transactionReceivingValue"
								disabled="!#{accountTransactionMB.transactionTypeTransfer}"
								value="#{accountTransactionMB.accountReceiving.id}"></h:inputText>
						</td>
					</tr>
				</table>
				<br />
				<h:commandButton id="confirm"
					action="#{accountTransactionMB.executeTransaction}"
					value="Perform Transaction">
					<f:param name="accountKey"
						value="#{accountTransactionMB.account.id}" />
					<f:ajax execute="@all" render="@form" />
				</h:commandButton>
				<br />
				<h:commandButton id="returnAccount" action="returnAccount"
					value="Return to Account">
					<f:param name="accountKey"
						value="#{accountTransactionMB.account.id}" />
				</h:commandButton>
			</div>
		</h:form>
	</h:body>
</ui:composition>