<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>Account Transaction History</title>
	</h:head>
	<h:body>
		<h:form>
			<h:messages id="messages" style ="color:red"/>
			<div id="layout">
				<div class="form_title">
					<h1>
						<h:outputText value="Account Transaction History"></h:outputText>
					</h1>
				</div>
				<table>
					<tr>
						<td><h:outputText id="currentAccount"
								value="Account number: "></h:outputText></td>
						<td><h:outputText value="#{accountMB.currentAccount.id}" />
						</td>
					</tr>
					<tr>
						<td><h:outputText id="Username" value="Username: "></h:outputText>
						</td>
						<td><h:outputText
								value="#{accountMB.currentAccount.userName}" /></td>
					</tr>
				</table>
				<br />
				<rich:dataTable id="history" width="100%" border="0" cellpadding="4"
					cellspacing="0" styleClass="grid" rowClasses="impar, noFormat"
					var="historyTransaction"
					value="#{accountMB.currentAccount.transactionHistory}">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Date" />
						</f:facet>
						<div align="center">
							<h:outputText value="#{historyTransaction.changedDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</div>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Transaction Type" />
						</f:facet>
						<h:outputText value="#{historyTransaction.transactionType}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Value" />
						</f:facet>
						<h:outputText value="#{historyTransaction.value}">
							<f:convertNumber pattern="$#0.00" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Current Account Balance" />
						</f:facet>
						<h:outputText value="#{historyTransaction.balance}" />
					</rich:column>
				</rich:dataTable>
				<br />
				<h:commandButton id="performTransaction" action="accountTransaction"
					value="Perform Transaction">
					<f:param name="accountKey" value="#{accountMB.currentAccount.id}" />
				</h:commandButton>
				<br />
				<h:commandButton id="returnManagement" action="returnManagement"
					value="Return to Account Management">
					<f:param name="accountKey" value="#{accountMB.currentAccount.id}" />
				</h:commandButton>
			</div>
		</h:form>
	</h:body>
</ui:composition>
