<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:head>
		<title>Account Management</title>
	</h:head>
	<h:body>
		<h:form id="formAM">
			<h:messages id="messages" style ="color:red"/>
			<div>
				<h2>
					<h:outputText id="createAccountLabel" value="Create Account" />
				</h2>
				<table>
					<tr>
						<td><h:outputText id="accountNameLabel" value="Name" /></td>
						<td><h:inputText id="accountName"
								value="#{accountManagementMB.newAccount.userName}" /> <br /></td>
					</tr>
					<tr>
						<td><h:outputText id="accountBalanceLabel" value="Balance" />
						</td>
						<td><h:inputText id="accountBalance" label="Balance"
								value="#{accountManagementMB.newAccount.balance}">
								<f:convertNumber pattern="#0.00" currencySymbol="$" />
							</h:inputText> <br /></td>
					</tr>
					<tr>
						<td><h:commandButton id="createAccount"
								action="#{accountManagementMB.createAccount()}"
								value="Create Account">
								<f:ajax execute="@all" render="@form" />
							</h:commandButton></td>
					</tr>
				</table>
			</div>
			<br />
			<div id="layout">
				<div class="form_title">
					<h1>
						<h:outputText value="Account Management"></h:outputText>
					</h1>
				</div>
				<h2>
					<h:outputText id="currentAccount" value="List of accounts" />
				</h2>
				<rich:dataTable id="accountsList" styleClass="grid"
					rowClass="impar, noFormat" var="accounts"
					value="#{accountManagementMB.accountsList}">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Id" />
						</f:facet>
						<h:outputText value="#{accounts.id}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Username" />
						</f:facet>
						<h:outputText value="#{accounts.userName}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Current Account Balance" />
						</f:facet>
						<h:outputText value="#{accounts.balance}">
							<f:convertNumber pattern="$#0.00" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Remove Account" />
						</f:facet>
						<h:commandButton id="removeAccountButton" value="Remove Account"
							action="#{accountManagementMB.removeAccount(accounts.id)}">
							<f:ajax execute="@all" render="@form" />
						</h:commandButton>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Open account" />
						</f:facet>
						<h:commandButton id="openAccountButton" action="account"
							value="Open Account">
							<f:param name="accountKey" value="#{accounts.id}" />
						</h:commandButton>
					</rich:column>
				</rich:dataTable>
			</div>
		</h:form>
	</h:body>
</ui:composition>
