<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ez="http://java.sun.com/jsf/composite">

<h:head>
	<title>Welcome</title>
</h:head>
<h:body>
	<h:form prependId="false">
		<h3>Please enter your name and password.</h3>
		<table>
			<tr>
				<td>Name:</td>
			</tr>
			<tr>
				<td>Password:</td>
			</tr>
		</table>
	</h:form>
</h:body>
</html>
